.list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}
.btn {
  background-color: transparent;
  border: 1px solid grey;
  outline: transparent;
  border-radius: 10px;
  padding: 4px 10px;
  cursor: pointer;
}
.btn:active {
  background-color: blue;
  color: white;
}
.btn:focus,
.btn:hover {
  outline: 1px solid blue;
}
